<!DOCTYPE html>
<html>
<head>
    <title>Productos - Home</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>ID: {{this.id}} - {{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>

    <!-- Enlace a los Productos en Tiempo Real -->
    <a href="/realTimeProducts">Ver Productos en Tiempo Real</a> <!-- Cambia "/realtime-products" a la ruta correcta si es diferente -->
</body>
</html>
